<h1>Lista de empleados</h1>
<table border="1">
    <tr>
        <th>CI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>email</th>
    </tr>
    @foreach (var empleado in ViewBag.empleados){
        <tr>
            <td>@empleado.ci</td>
            <td>@empleado.nombre</td>
            <td>@empleado.apellido</td>
            <td>@empleado.telefono</td>
            <td>@empleado.email</td>
        </tr>
    }
</table>
<!--
<h1>Lista de productos</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
    </tr>
     foreach (var producto in ViewBag.productos)
    {
        <tr>
            <td>producto.idProd</td>
            <td>producto.nombre</td>
            <td>producto.precio</td>
        </tr>
    }
</table>
-->
